body {
 background: url('login_image.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
.panel-default {
 opacity: 0.9;
 margin-top:3em;
}
.panel-heading .panel-footer{
  font-size: 1.3em;
}
